<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head th:replace="~{/components/fragments :: head}">
    <title>Pizzas List</title>
</head>

<body>
<header th:insert="~{/components/fragments :: navbar('ingredients')}"></header>

<main class="container">
    <div class="row">
        <div class="col-12">
            <th:block th:object="${ingredient}">
                <h1 class="py-3 text-center">Detail for [[*{name}]]</h1>
                <div class="d-flex justify-content-center">
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">[[*{id}]] - [[*{name}]]</h5>
                        </div>
                        <ul class="list-group list-group-flush" th:each="pizza : *{pizzas}">
                            <li class="list-group-item">[[${pizza.name}]]</li>
                        </ul>
                        <div class="card-body">
                            <a th:href="@{/ingredients}" class="btn btn-primary">Go back</a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</main>
<th:block th:replace="~{/components/fragments :: scripts}"></th:block>
</body>
</html>